@use 'reset' as *
main
  display: flex
  justify-content: space-between
  padding: 2em
  width: 100vw
  height: 100vh
// board
.board
  width: 75%
  padding: 1em
  background: #666
  > div
    height: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 1fr)
    gap: 1em
    button
      width: 100%
      height: 100%
      border: 0
      border-radius: 50%
      font-size: 5rem
// options
.options
  background: #333
  flex: 1
#display
  width: 100%
  height: 8rem
  display: flex
  align-items: center
  justify-content: center
  background: white
